/* override this file for custom css */

/* you can import boostrap mixins */
// @import 'bootstrap/scss/mixins';
// Example usage
// .some-class {
//   @include media-breakpoint-up(sm) {
//     // Larger than sm: 576px
//     display: inline;
//   }
//   @include media-breakpoint-down(md) {
//     // Smaller than md: 768px
//     display: block;
//   }
// }

// Import original skills styles
@import 'sections/skills.scss';

.skills-section {

    .card {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
  
      .card-head {
        background-color: get-light-color('bg-primary') !important;
        height: -moz-fit-content;
        height: fit-content;
        padding: 0.7rem;
        padding-bottom: 0rem;
        // border-bottom: 0.0625rem solid rgba(get-light-color('accent-color'), 0.4);
  
        .card-img-xs {
          margin-right: 0.5rem;
          margin-bottom: 0.55rem;
        }
      }
  
      .card-body {
        display: none;
      }
    }
  
    @include media('<=medium') {
      padding-left: 0;
      padding-right: 0;
      margin-left: -0.5rem; 
      margin-right: -0.5rem; 
  
      .container {
      max-width: 95%;
      max-width: calc(100% + 1rem); 
      margin-left: auto; 
      margin-right: auto; 
      }
    }
}

@import 'sections/projects.scss';

.projects-section {
    .card {
      .card-header {
        background-color: get-light-color('bg-card');
        padding: 0.7rem;
        padding-bottom: 0rem;
        text-decoration: none;
  
        .card-img-xs {
          margin-right: 0.5rem;
        }
        .sub-title {
          color: get-light-color('muted-text-color');
          margin-top: 0.4rem;
  
          span {
            &:nth-child(1) {
              float: right;
            }
            &:nth-child(2) {
              float: left;
            }
          }
        }
      }
  
      .card-body {
        padding: 0.7rem;
      }
    }
  
    .filtr-projects {
      padding: 1rem !important;
    }
  
    .project-card-footer {
      display: flex;
      .badge {
        margin-left: 0.1em;
        margin-right: 0.1em;
      }
    }
  
    .project-tags-holder {
      width: 70%;
    }
  
    .project-btn-holder {
      width: 30%;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
  
      span {
        display: flex;
        justify-content: flex-end;
      }
    }
  
    @include media('<=large') {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
  
      .container {
        max-width: 95%;
      }
      .filtr-projects {
        padding: 0;
      }
      .filtr-item {
        flex: 50%;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        max-width: calc(100% / 2 - 0.2rem);
      }
    }
  
    @include media('<=small') {
      .btn {
        margin-top: 0.3125rem;
      }
      .filtr-item {
        max-width: 100%;
      }
    }
  }
  