@use 'sass:map';

$breakpoints: (
  tiny: 320px,
  small: 640px,
  medium: 768px,
  large: 1024px,
  very-large: 1280px,
  extra-large: 1536px,
  ultra-large: 2560px,
);

// Color are chosen from TailwindCSS color scheme
// https://tailwindcss.com/docs/customizing-colors

// transitions
$transition-duration: 0.3s;
$transition-type: ease-out;

// borders and shadows
$box-shadow: 0px 8px 20px rgba(195, 224, 245, 0.164);

// themes
$themes: (
  'light': (
    // cyan 600
    'accent-color': #726951,
    // cyan 500
    'hover-over-accent-color': #434632,
    // zinc 200
    'text-over-accent-color': #efe7aa,
    // slate 50
    'bg-primary': #ede8d2,
    // slate 900
    'bg-primary-inverse': #607fc638,
    // slate 200
    'bg-secondary': #ede8d2,
    'bg-card': #efe4c9,
    // slate 800
    'heading-color': #412000,
    // slate 700
    'text-color': #334155,
    // slate 300
    'inverse-text-color': #cbd5e1,
    // slate 500
    'muted-text-color': #64748b,
    // red 600
    'inline-code-color': #edaaaa,
    // amber 200
    'highlight-color': #dbd6c1,
    // slate 900
    'footer-color': #fbf8ea,
  ),
  'dark': (
    // cyan 600
    'accent-color': #cf8505,
    // cyan 500
    'hover-over-accent-color': #1f2937,
    // zinc 200
    'text-over-accent-color': #e8cc83,
    // gray-800
    'bg-primary': #1f2937,
    // slate 900
    'bg-primary-inverse': #0f172a,
    // gray 900
    'bg-secondary': #1f2937,
    // slate 800
    'bg-card': #3d495c,
    // slate 100
    'heading-color': #d8d8d8,
    // slate 300
    'text-color': #cbd5e1,
    // slate 900
    'inverse-text-color': #3d495c,
    // slate 500
    'muted-text-color': #cbd5e1,
    // red 600
    'inline-code-color': #dc2626,
    // amber 200
    'highlight-color': #fde68a,
    // slate 900
    'footer-color': #0f172a,
  ),
);

$brand-colors: (
  'facebook': #3b5998,
  'twitter': #1da1f2,
  'linkedin': #0077b5,
  'reddit': #ff4500,
  'tumblr': #35465c,
  'pocket': #ef4056,
  'diaspora': #1e1e1e,
  'whatsapp': #25d366,
);

$alerts: (
  'success': (
    // green 100
    'bg-color': #dcfce7,
    // green 800
    'text-color': #166534,
  ),
  'info': (
    // sky 100
    'bg-color': #e0f2fe,
    // sky 800
    'text-color': #075985,
  ),
  'warning': (
    // yellow 100
    'bg-color': #fef9c3,
    // yellow 800
    'text-color': #854d0e,
  ),
  'danger': (
    // red 100
    'bg-color': #fee2e2,
    // red 800
    'text-color': #991b1b,
  ),
);
